attrs==19.3.0
certifi~=2020.4.5.1
chardet==3.0.4
dnspython==1.16.0
idna==2.9
importlib-metadata==1.6.0
jsonschema==3.2.0
numpy~=1.18.1
pandas==1.0.3
pymongo~=3.9.0
pyrsistent~=0.15.7
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
selenium==3.141.0
six==1.14.0
threaded==4.0.8
urllib3==1.25.8
zipp~=2.2.0

future~=0.17.1
pip~=19.3.1
zlib~=1.2.11
wheel~=0.33.6
openssl~=1.1.1f
cryptography~=2.7
py~=1.8.1
keyring~=18.0.0
pytest~=5.4.1
cffi~=1.12.3
setuptools~=42.0.1
hypothesis~=5.5.4
backports~=1.0
wincertstore~=0.2
importlib_metadata~=1.5.0
packaging~=20.3
contextlib2~=0.6.0
psutil~=5.7.0